{% extends "base.html" %}

{% block _content %}

        
        <div class="card bg-dark text-white">
            <img src="http://sekolahantang.my.id/images/bg.jpg" width="100" height="500px" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title font-weight-bold text-center display-1">Cerdas, Kreatif, Mandiri, dan Taqwa</h5>
              <p class="card-text text-center display-3">Sekolah Antang</p>
            </div>
          </div>
          
        <div class="program">
            <h1 class="display-1 text-center font-weight-bold">
                Video Collection
            </h1>
            <hr class="my-4 bg-dark">
        </div> 
       <div class="text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7IK_61-1fMI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/7IK_61-1fMI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/7IK_61-1fMI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

       </div>
<br><br><br><br><br><br><br><br>
  
{% endblock%}
        
        