{% extends "base.html" %}

{% block _content %}

    
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="http://sekolahantang.my.id/images/sld1.jpg" width="100%" height="500" alt="...">
        </div>
        <div class="carousel-item">
          <img src="http://sekolahantang.my.id/images/sld2.jpeg"  width="100%" height="500" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    
    <div class="jumbotron mb-0">
      <h1 class="display-3 text-center font-weight-bold" data-aos="zoom-in-up">Selamat Datang Di Sekolah Antang </h1>
      <hr class="my-4 bg-dark">
      <div class="row">
        <div class="col text-justify">
          <p class="lead">  Sadar atau tidak, kebutuhan kita saat ini semakin banyak. Terlepas pada aktifitas apa saja yang kita lakukan di hari itu. Kondisi ini tidak hanya bagi yang masih lajang, apalagi bagi mereka yang sudah berkeluarga. Tambahan anggota keluarga berarti tambahan terhadap satu bagian komponen pekerjaan (baca: kesibukan). Anak adalah anugrah terbesar, sehingga apapun bentuk kesibukan, maka perhatian selalu tertuju pada buah hati anak kesayangan kita. Sehingga memberikan perawatan dan pendidikan maksimal adalah target dan menjadi kewajiban bagi setiap orang tua. Tempat Penitipan Anak (TPA) yang biasanya terintegrasi dengan Pendidikan Anak Usia Dini (PAUD) akan memberikan kenyaman lebih dan akan memediasi keluarga yang kedua orangtuanya mungkin "sangat" sibuk, maka pilihan yang terbaik adalah menggunakan jasa tempat penitipan anak. Sekolah Antang di Juni 2019 ini akan mulai membuka kelas TPA dan Kelompok Bermain (KB) yang arah pendidikannya lebih bernuansa alami.</p>
          <ul>
            <li>Tempat Penitipan Anak (TPA)</li>
            <li>Kelompok Bermain (KB)
              <li>Taman Kanak-Kanak (TK) status: segera akan menerima siswa baru</li> 
              <li>BACA-TULIS-HITUNG (CALISTUNG)</li> 
              <li>Kelas Bahasa Inggris untuk anak-anak (English for Kids)</li> 
              <li>Kelas Bahasa Jepang untuk anak-anak (Japan for Kids)</li>   
              <li>Kelas Pendampingan Penyelesaian Tugas-tugas Sekolah bagi anak SD</li>   
              <li>Tahfidz Week End (organized by Lazis Wahda)</li>
            </ul>
          </div>
          <div class="col">
            <h4>Alamat</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3973.572755305742!2d119.50851111412774!3d-5.17220765366323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dbee3f0eec06867%3A0x7c5e18699d28c6c6!2sSekolah%20Antang!5e0!3m2!1sid!2sid!4v1630159130734!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <a class="btn btn-dark btn-lg" href="https://g.page/sekolahantang?share" target="_blank" role="button">Lihat Alamat</a>
            <div class="card mt-2">
              <div class="card-header bg-dark text-center text-light">
                Form Pendaftaran
              </div>
              <div class="card-body bg-info">
                <h5 class="card-title">Daftarkan Diri Anda Di Sekolah Antang</h5>
                <p class="card-text">Silahkan klik <b>"registrasi"</b> untuk mendaftar dan klik <b>"login"</b> bagi yang sudah mendaftar</p>
                <a href="register.html" class="btn btn-primary">Registrasi</a>    <a href="login.html" class="btn btn-primary">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <section id="menu" class=" bg-warning pb-4 latar" data-aos="flip-right">
        
        <div class="container pt-4">
          <div class="row">
            <div class="col">
              <div class="card bg-danger">
                <div class="display-1 text-center">
                  <i class="fas fa-tasks"></i>
                </div>
                <div class="card-body text-light">
                  <h5 class="card-title text-center text-light">Program</h5>
                  <p class="card-text text-justify">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="program.html" class="btn btn-dark">Baca Selengkapnya</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card bg-danger">
                <div class="display-1 text-center">
                  <i class="fas fa-wallet"></i>
                </div>
                <div class="card-body text-light">
                  <h5 class="card-title text-center">Galeri</h5>
                  <p class="card-text text-justify">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="gallery.html" class="btn btn-dark">Baca Selengkapnya</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card bg-danger">
                <div class="display-1 text-center">
                  <i class="fas fa-newspaper"></i>
                </div>
                <div class="card-body text-light">
                  <h5 class="card-title text-center">Berita</h5>
                  <p class="card-text text-justify">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-dark">Baca Selengkapnya</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card bg-danger">
                <div class="display-1 text-center">
                  <i class="fas fa-address-card"></i>
                </div>
                <div class="card-body text-light">
                  <h5 class="card-title text-center">Kontak</h5>
                  <p class="card-text text-justify">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-dark">Baca Selengkapnya</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </section>
      
      <section id="informasi" class="bg-dark" data-aos="flip-left">
        <div class="container">
          <h1 class="display-3 text-center font-weight-bold text-light">
            Informasi
          </h1>
          <hr class="my-4 bg-danger">
          <div class="row">
            <div class="col-sm-6">
              <div class="card bg-warning">
                <div class="card-body">
                  <h5 class="card-title">Agenda</h5>
                  <p class="card-text">Agenda yang ada di Sekolah Antang</p>
                  <a href="#" class="btn btn-dark">Lihat Agenda</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card bg-warning">
                <div class="card-body">
                  <h5 class="card-title">Pengumuman</h5>
                  <p class="card-text">Pengumuman seputar kegiatan di Sekolah Antang</p>
                  <a href="#" class="btn btn-dark">Lihat Pengumuman</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container mt-2">
          <div class="row">
            <div class="col">
              <div class="card text-white bg-danger mb-3">
                <div class="card-header text-center font-weight-bold">TO DO LIST</div>
                <div class="card-body">
                  <h5 class="card-title">Silahkan kerjakan to do list berikut!!</h5>
                  <a href="#" class="btn btn-warning text-center">TO DO LIST</a>
                </div>
              </div>
            </div>
          </div>
          
        </section>
        
        
        {% endblock%}
        
        