{% extends "base.html" %}

{% block _content %}
        <div class="card bg-dark text-white">
            <img src="http://sekolahantang.my.id/images/bg.jpg" width="100" height="500px" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title font-weight-bold text-center display-1">Cerdas, Kreatif, Mandiri, dan Taqwa</h5>
              <p class="card-text text-center display-3">Sekolah Antang</p>
            </div>
          </div>
          
        <div class="program">
            <h1 class="display-1 text-center font-weight-bold">
                Berita Sekolah Antang
            </h1>
            <hr class="my-4 bg-dark">
        </div> 
        <ul class="list-unstyled">
            <li class="media">
              <img src="https://1.bp.blogspot.com/-PwbjJ3OsxyI/XNfQCPTu4yI/AAAAAAAAAu0/YEICvYHk9OYWJEJnkOUyUUF1_P8GIslGQCLcBGAs/s1600/Logo_PAUD_SekolahAntang.jpeg" alt="" width="40" height="40" class="rounded-circle"" class="mr-3" alt="...">
              <div class="media-body">
                <h5 class="mt-0 mb-1">List-based media object</h5>
                <p>All my girls vintage Chanel baby. So you can have your cake. Tonight, tonight, tonight, I'm walking on air. Slowly swallowing down my fear, yeah yeah. Growing fast into a bolt of lightning. So hot and heavy, 'Til dawn. That fairy tale ending with a knight in shining armor. Heavy is the head that wears the crown.</p>
              </div>
            </li>
            <li class="media my-4">
              <img src="https://1.bp.blogspot.com/-PwbjJ3OsxyI/XNfQCPTu4yI/AAAAAAAAAu0/YEICvYHk9OYWJEJnkOUyUUF1_P8GIslGQCLcBGAs/s1600/Logo_PAUD_SekolahAntang.jpeg" alt="" width="40" height="40" class="rounded-circle"" class="mr-3" alt="...">
              <div class="media-body">
                <h5 class="mt-0 mb-1">List-based media object</h5>
                <p>Maybe a reason why all the doors are closed. Cause once you’re mine, once you’re mine. Be your teenage dream tonight. Heavy is the head that wears the crown. It's not even a holiday, nothing to celebrate. A perfect storm, perfect storm.</p>
              </div>
            </li>
            <li class="media">
              <img src="https://1.bp.blogspot.com/-PwbjJ3OsxyI/XNfQCPTu4yI/AAAAAAAAAu0/YEICvYHk9OYWJEJnkOUyUUF1_P8GIslGQCLcBGAs/s1600/Logo_PAUD_SekolahAntang.jpeg" alt="" width="40" height="40" class="rounded-circle"" class="mr-3" alt="...">
              <div class="media-body">
                <h5 class="mt-0 mb-1">List-based media object</h5>
                <p>Are you brave enough to let me see your peacock? There’s no going back. This is the last time you say, after the last line you break. At the eh-end of it all.</p>
              </div>
            </li>
          </ul>
       
<br><br><br><br><br><br><br><br>
        
   
{% endblock%}       